.outerDiv {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text {
  width: 10%;
  font-weight: 900;
  color: midnightblue;
  transform: translateY(2rem);
}

input {
  width: 80%;
  height: 1.5rem;
  padding-left: 1rem;
  margin: 0;
}

.dollarsInput {
  width: 25%;
  margin-right: 2rem;
}

.costAndAccountNumDiv {
  display: flex;
  width: 100%;
  margin: 1rem 0;
}

.costAndAccountNumDiv label {
  margin: 0 2.5rem 2.5rem 0;
}

.accountNumInput {
  width: 30%;
  margin: 0;
}

.payeesDiv {
  color: midnightblue;
  font-weight: 900;
  margin: 2rem 0 2rem 5rem;
  cursor: pointer;
}

.payeesDiv:hover {
  color: chartreuse;
}

.payeeListDiv {
  position: fixed;
  width: 100%;
  margin-left: 0;
  transform: translateX(25%);
  max-height: 25rem;
  overflow: auto;
}

.buttonsDiv {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 0 0;
}

.submitButton {
  width: fit-content;
  padding: 0 1rem;
}

.submitButton:hover {
  color: chartreuse;
  background: midnightblue;
}

.deleteButton {
  background: rgb(148, 18, 18);
  width: fit-content;

}
