.outerDiv {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text {
  width: 10%;
  font-weight: 900;
  color: midnightblue;
  transform: translateY(2rem);
}

input {
  width: 80%;
  height: 2.5rem;
}

.dollarsInput {
  transform: translateX(-20rem);
  width: 20%;
}

.centsInput {
  transform: translateX(-20rem);
  width: 20%;
}

.submitButtonDiv {
  margin: 3rem 0 0 30%;
}

.payeesDiv {
    color: midnightblue;
    font-weight: 900;
}

.payeeListDiv {
  position: fixed;
  width: 100%;
  margin-left: 0;
  transform: translateX(25%);
  max-height: 25rem;
  overflow: auto;
}
