.budgetItemDiv {
  position: relative;
  margin: 0.5rem 6rem;
  padding: 1rem;
  display: flex;
  width: 80%;
  align-items: flex-end;
  box-shadow: 0 2px 4px rgba(223, 156, 156, 0.2);
  border-radius: 6px;
  background-color: #c2e7f0;
  font-weight: 900;
}

.budgetItemDiv:hover {
  background-color: rgb(135, 135, 175);
}

.itemNameDiv {
  width: 30%;
  padding-left: 2rem;
}

.dateDiv {
  width: 10%;
}

.moneyDiv {
  width: 20%;
  color: rgb(153, 26, 17);
}

.remainingDiv {
  color: rgb(30, 148, 30);
}

.payeesDiv {
  font-size: small;
  font-weight: 700;
  margin: 0 0 1rem 10rem;
}

.editButtonDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  bottom: 10%;
}
