.foundationItemDiv {
    margin: 0.5rem 3rem;
    padding: 1rem;
    display: flex;
  
    align-items: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #c2e7f0;
    font-weight: 900;
  }
  
  .nameDiv {
    width: 40%;
  }
  
  .leftOverDiv {
    width: 20%;
    color: rgb(50, 167, 50);
  }
  
  .moneyDiv {
    text-align: left;
  }
  