.foundationsDiv {
    display: flex;
    margin-left: 5rem;
  }
  
  .costDiv {
    color: rgb(209, 36, 36);
  }
  
  .foundationName {
    width: 30%;
    padding-right: 2rem;
    font-weight: 700;
    color:blue;
    text-align: right;
  }
  
  .foundationPennies {
    width: 30%;
    font-weight: 700;
    color:green;
  }
  