.outerContainer {
  width: 70%;
  margin: 10rem auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 75%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  position: relative;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  font: inherit;
  padding: 1rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #cbf8f8;
  outline-color: teal;
}

.actions {
  text-align: right;
}

.buttonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1rem;
  width: 7rem;
  margin: 1rem auto;
}

.payeesDiv {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: #99bdbd;
  border-radius: 5px;
}

.payeesDiv:hover {
  background: teal;
}

.payeesDiv h3 {
  margin-left: 5rem;
  cursor: pointer;

}

.payeesDiv h3:hover {
  color: goldenrod;
}

.payeeListDiv {
  position: fixed;
  width: 60%;
  margin-left: 20rem;
  max-height: 20rem;
  overflow: auto;
}

.moneyAndDate {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.moneyDiv {
  display: flex;
}

.moneyDiv input {
  width: 4rem;
}

.moneyDiv label {
  margin: 1rem 2rem;
}

#dollars {
  width: 7rem;
}

#dateInput {
  width: 50%;
  margin: 1rem 0 1rem 5rem;
}

.purposesAndFoundationsDiv {
  display: flex;
  width: 90%;
}

.purposeDiv {
  font-weight: 600;
  color: midnightblue;
  width: 30%;
  max-height: 10rem;
  overflow: auto;
}

.purposeDiv li {
  cursor: pointer;
}

.purposeDiv li:hover {
  color: rgb(226, 66, 167);
}
