.monthDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  padding: 0 1rem;
}

.activeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  padding: 0 1rem;
  background: white;
}

.monthLi {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.monthDiv:hover {
  background: white;
}

.monthLi:hover {
  color: rgb(167, 124, 16);
}
