.monthDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  padding: 0 1rem;
}

.highlightedDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  padding: 0 1rem;
  background: rgb(243, 243, 248);
}

.monthLi {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.highlightedLi {
  color: midnightblue;
  font-weight: 900;
}

.monthDiv:hover {
  background: rgb(243, 243, 248);
}

.monthDiv:hover li {
  color: midnightblue;
}
