.header {
  width: 100%;
  height: 5rem;
  display: flex;
  position: fixed;
  top: 0;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background: #272121;
  /* background-color: #008080; */
}

.logo h1{
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
  text-shadow: .5px .5px rgb(243, 237, 237);
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 2.5rem;
  font-size: 1.25rem;
  font-weight: 900;
}

.nav a,
.navItem {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active,
.navItem:hover {
  color: #e2f53a;

}

.navItem {
    cursor: pointer;
}
