.payeeItemDiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
  padding: 1rem;
  width: 75%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 2.5rem;
  background: rgb(155, 176, 197);
  color: rgb(31, 54, 68);

  font-weight: 900;
}

.payeeItemDiv:hover {
  background: rgb(222, 222, 231);
  color: midnightblue;
}

.clickedItem {
  margin: 0.5rem 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #c7bf4d;
  font-weight: 900;
}

.nameDiv {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  cursor: pointer;
}

.nameDiv:hover {
  color: rgb(48, 40, 77);
}

.emailDiv {
  width: 25%;
}

.phoneDiv {
  width: 20%;
}

.moneyDiv {
  text-align: left;
}

.checkMarkDiv {
  display: flex;
  width: 5%;
  /* justify-content: flex-end; */
}

.redEx {
  color: rgb(114, 22, 22);
  margin: 0;
}

.eventsDiv {
  display: flex;
  flex-direction: row;
  font-size: small;
  font-weight: 700;
  margin: 0 0 1rem 10rem;
}

.budgetItemDiv {
  display: flex;
}

.community {
  color: darkblue;
  font-size: smaller;
  margin-left: 1rem;
}

.itemDate {
  margin-left: 1rem;
}

.editButtonDiv button {
  color: rgb(40, 33, 134);
  background: transparent;
  width: fit-content;
}

.editButtonDiv button:hover {
  background: rgb(106, 100, 128);
  color: wheat;
}

.smallItemDiv {
  background-color: gold;
}
