.outerContainer {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-left: 5rem;
  margin-bottom: 0.5rem;
  height: 3rem;
  background: rgb(204, 214, 224);
  color: rgb(56, 66, 73);
  font-weight: 900;
  border-radius: 7px;
  cursor: pointer;
}

.outerContainer:hover {
  background: lightgray;
  color: rgb(58, 106, 207);
}

.outerContainer div {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}
