.outerContainer {
  display: flex;
  margin: 0 4rem 0.5rem 5rem;
  height: 3rem;
  background: rgb(204, 214, 224);
  color: rgb(56, 66, 73);
  font-weight: 900;
  border-radius: 7px;
  cursor: pointer;
}

.outerContainer:hover {
  background: lightgray;
  color: rgb(58, 106, 207);
}

.outerContainer div {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.transAndPayeesDiv {
  display: flex;
}

.completedDiv {
  height: 100%;
  padding: 0;
}

.completedDiv input {
  padding: 0;
  margin: 0;
  width: fit-content;
}

.button {
  background: #252525;
  color: antiquewhite;
}

.button:hover {
  background: lightgrey;
  color: rgb(37, 37, 231);
}

.submitChangeButton {
  background-color: blue;
  width: fit-content;
}
